<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>

<body>
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2>Asignaciones</h2>
            </div>
            <div class="col-sm-6">
              <a
                (click)="AbrirNuevaAsignacionModal(nuevo)"
                class="btn btn-success"
                data-toggle="modal"
                ><i class="material-icons">&#xE147;</i> <span>Añadir</span></a
              >
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll" />
                  <label for="selectAll"></label>
                </span>
              </th>
              <th>Conductor</th>
              <th>Vehiculo</th>
              <th>Ruta</th>
              <th>Operaciones</th>
            </tr>
          </thead>
          <tbody>
            @for(asignacion of asignaciones ; track asignacion.id){
            <tr>
              <td>
                <span class="custom-checkbox">
                  <input
                    type="checkbox"
                    id="checkbox1"
                    name="options[]"
                    value="1"
                  />
                  <label for="checkbox1"></label>
                </span>
              </td>
              <td>{{ asignacion.conductor.nombre }}</td>
              <td>{{ asignacion.vehiculo.placa }}</td>
              <td>{{ asignacion.ruta.nombre_ruta ?? "Sin ruta" }}</td>
              <td>
                <a
                  (click)="AbrirEditarModal(editar, asignacion)"
                  class="edit"
                  data-toggle="modal"
                  ><i class="material-icons" data-toggle="tooltip" title="Edit"
                    >&#xE254;</i
                  ></a
                >
                <a
                  (click)="EliminarAsignacion(asignacion.id)"
                  class="delete"
                  data-toggle="modal"
                  ><i
                    class="material-icons"
                    data-toggle="tooltip"
                    title="Delete"
                    >&#xE872;</i
                  ></a
                >
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

<ng-template #editar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar asignacion</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="conductor">Conductor</label>
        <div class="input-group">
          <select name="conductorSelect" [(ngModel)]="idConductor">
            @for(conductor of conductores; track conductor.id) {
            <option
              [value]="conductor.id"
              [selected]="conductor.id.toString() === idConductor"
            >
              {{ conductor.nombres }}
            </option>
            }
          </select>
        </div>

        <label for="vehiculo">Vehiculo</label>
        <div class="input-group">
          <select name="vehiculoSelect" [(ngModel)]="idVehiculo">
            @for(vehiculo of vehiculos; track vehiculo.id) {

            <option
              [value]="vehiculo.id"
              [selected]="vehiculo.id.toString() === idVehiculo"
            >
              {{ vehiculo.placa }}
            </option>
            }
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #nuevo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear asignacion</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss()"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="conductor">Conductor</label>
        <div class="input-group">
          <select name="conductorSelect" [(ngModel)]="nuevoIdConductor">
            <option value="0" selected>None</option>
            @for(conductor of conductores; track conductor.id) {
            <option [value]="conductor.id">
              {{ conductor.nombres }}
            </option>
            }
          </select>
        </div>

        <label for="vehiculo">Vehiculo</label>
        <div class="input-group">
          <select name="vehiculoSelect" [(ngModel)]="nuevoIdVehiculo">
            <option value="0" selected>None</option>
            @for(vehiculo of vehiculos; track vehiculo.id) {
            <option [value]="vehiculo.id">
              {{ vehiculo.placa }}
            </option>
            }
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
