<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
 </head>
 
 <body>
    <div class="container-xl">
        <h1>Dashboard</h1>
        <div class="metricas_container">
            <div class="row">
                <div class="box">
                    <h2>Total de usuarios creados</h2>
                    <div class="graph_container">
                        <p class="number">18</p>
                    </div>
                </div>
                <div class="box">
                    <h2>Viajes del dia de hoy</h2>
                    <div class="graph_container">
                        <p class="number">18</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <h2>Total de vehiculos creados</h2>
                    <div class="graph_container">
                        <p class="number">18</p>
                    </div>
                </div>
                <div class="box">
                    <h2>Total de conductores creados</h2>
                    <div class="graph_container">
                        <p class="number">18</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </body>
